.section {
    margin-left: 40px;
    padding: 10px;
   
    width: 350px;
    background-color: bisque;
  }
 
  .section:first-child {
    margin-top: 20px;
  }
  
  .title {
    margin-top: 0;
    font-size: 30px;
  }